<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.StorageMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.entity.Storage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="price" column="price" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,num,
        create_time,price
    </sql>

    <update id="updateNum">
        update storage set num = num - #{num} where id = #{id}
    </update>

    <select id="getInfoById" resultMap="BaseResultMap">
        select *
        from storage
        where id = #{id}
    </select>
</mapper>
